<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :movie_title %>
  </div>

  <div class="field">
    <%= form.label :premiere_date %>
    <%= form.text_area :premiere_date, id: :movie_premiere_date %>
  </div>

  <div class="field">
    <%= form.label :director %>
    <%= form.text_field :director, id: :movie_director %>
  </div>

  <div class="field">
    <%= form.label :country_id %>
    <%= form.collection_select :country_id, Country.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :cast %>
    <%= form.text_area :cast, id: :movie_cast %>
  </div>

  <div class="field">
    <%= form.label :gender_id %>
    <%= form.collection_select :gender_id, Gender.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :classification_id %>
    <%= form.collection_select :classification_id, Classification.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :movie_description %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating, id: :movie_rating %>
  </div>

  <div class="field">
    <%= form.label :film %>
    <%= form.text_field :film, id: :movie_film %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
