<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Premiere date:</strong>
  <%= @movie.premiere_date %>
</p>

<p>
  <strong>Director:</strong>
  <%= @movie.director %>
</p>

<p>
  <strong>Country:</strong>
  <%= @movie.country %>
</p>

<p>
  <strong>Cast:</strong>
  <%= @movie.cast %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @movie.gender %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @movie.classification %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @movie.rating %>
</p>

<p>
  <strong>Film:</strong>
  <%= @movie.film %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
