
<%= image_tag("linea.png",width:'18%') %>
<%= image_tag("letras5.png",width:'20%') %>
<p>Movie Library is the site where you can find the information of all movies</p>

<div class="slider">
<ul>
    <li>
        <%= image_tag("movie1.jpg",width:'100%') %>
    </li>
    <li>
        <%= image_tag("movie4.jpg",width:'100%') %>
    </li>
    <li>
     <%= image_tag("movie10.jpg",width:'100%') %>
    </li>
    <li>
        <%= image_tag("movie5.jpg",width:'100%') %>
    </li>

</ul>
</div>
<br>


